/* HEADER */
.header {
    padding: 2.5rem 0 7.625rem;
    background-color: #121214;
}
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    display: inline-block;
    transition: opacity .3s ease;
}
.header-logo-mobile {
    display: none;
}
.header-logo:hover {
    opacity: .8;
}
.header-logo:active {
    opacity: 1;
}
.header-logo img {
    display: block;
}


/* ACTIVITIES CARDS */
.activities-cards {
    transform: translateY(-50%);
}
.activities-cards-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.activities-card {
    max-width: 352px;
    width: 100%;
    padding: 1.5rem 2rem;
    border-radius: 6px;
    background-color: #323238;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, .1);
}
.activities-card.active {
    background-color: var(--green-dark);
}
.activities-card--content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.125rem;
}
.activities-card--subtitle {
    color: var(--grey-dark);
}
.activities-card--sum {
    font-size: 2rem;
    font-weight: 700;
    color: var(--grey-light);
}

/* CRASH FLOW  */
.cash-flow {
    padding-bottom: 2.5rem;
}
.cash-form {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    min-height: 3rem;
    margin-bottom: 1.5rem;
}
.cash-form input {
    width: 85%;
    background-color: #121214;
    padding: 16px;
    border: none;
    border-radius: 6px;
    color: var( --grey-light);

}
.cash-form button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    width: 150px;
    font-weight: 700;
    font-size: 1rem;
    color: var(--green-light);
    background-color: transparent;
    border: 2px solid var(--green-dark);
    border-radius: 6px;
    cursor: pointer;
    transition: all .3s ease;
}
.cash-flow button path {
    transition: fill .3s ease;
}
.cash-form button:hover {
    color: var(--white);
    background-color: var(--green-light);
}
.cash-form button:hover path {
    fill: #fff;
} 
.cash-flow button:active {
    background-color: var(--green-dark);
}
.cash-table {
    display: block;
}
.cash-table tbody {
    display: block;
    width: 100%;
}
.cash-table--row {
    display: grid;
    grid-template-columns: 48% 20% auto 10%;
    padding: 1.25rem 2rem;
    border-radius: 5px;
    margin-bottom: 8px;
    color: var(--grey-dark);
    background-color: #29292e;
    cursor: pointer;
    transition: background-color .3s ease;
}
.cash-table--row:hover {
    background-color: #3c3c41;
}
.cash-table--row:active {
    background-color: #29292e;
}
.cash-income {
    color: var(--green-light);
}
.cash-outlay {
    color: var(--red-dark);
}

@media screen and (max-width: 920px) {
    .activities-cards {
        transform: translateY(-15%);
    }
    .activities-cards-row {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .header-logo img {
        width: 250px;
        object-fit: contain;
    }
    .cash-table--row {
        grid-template-columns: 55% 30% auto;
    }
    .cash-table--row :nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 520px) {
    .header {
        padding: 1.8rem 0 6.625rem;
    }
    .header-logo {
        display: none;
    }
    .header-logo-mobile {
        display: block;
    }
    .header-logo-mobile img {
        width: 45px;
    }
    .cash-table--row {
        grid-template-columns: 70% auto;
    }
    .cash-table--row :nth-child(4) {
        display: none;
    }
}
@media screen and (max-width: 430px) {
    .activities-cards {
        transform: translateY(-10%);
    }
    .activities-cards-row {
        justify-content: center;
    }
    .cash-form {
        flex-direction: column;
        row-gap: 15px;
    }
    .cash-form input {
        width: 100%;
    }
    .cash-form button {
        width: 100%;
        min-height: 42px;
    }
    .cash-table--row {
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
        padding: 1rem 1.2rem;       
    }
    .cash-table--row :nth-child(1) {
        width: 160px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }
}


